<!DOCTYPE html>
    <head>
        <title>Login Page</title>
    </head>
    <body style="margin-left: 50px;">
        <h1>Login Page</h1>
        <fieldset style="margin-right: 930px;">
            <legend>Input Login Details</legend>
            <form method="post" action="/login" id="login_page">
                <p>Email : <input type="email" name="email" required="required"> </p> 
                <p>Password : <input type="password" name="password" required="required"></p>
                <input type="submit" value="Sign in" />
            </form>
        </fieldset>
        <p>Not registered ? <a href="/user_signup">Sign Up as a new user</a></p>
        <p>Wish to be a Partner ? <a href=/professional_signup>Sign Up as a Professional</a></p>
    </body>
</html>