<!DOCTYPE html>
    <head>
        <title>Review Customer</title>
    </head>
    <body style="margin: 50px;">
        <h1>Rate Customer</h1>
        <p>Service Name : {{service.Type}}</p>
        <p>Service Description : {{service.Description}}</p>
        <p>Request Time : {{(request.Request_time|string)[0:-7]}}</p>
        <p>Completion Time : {{(request.Completion_time|string)[0:-7]}}</p>
        <p>Customer ID : {{user.User_ID}}</p>
        <p>Customer Name : {{user.First_Name}} {{user.Last_Name}}</p>
        <p>Customer Phone No. : {{user.Phone_No}}</p>
        <fieldset style="margin-right: 900px;">
            <legend>Customer Rating</legend>
            <form method="post">
                <p>Rate the customer : 
                    <select name="rating" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                    </select> </p>
                <input type="submit" value="Submit" />
            </form>
        </fieldset>
    </body>    
</html>