<!DOCTYPE html>
    <head>
        <title>Professional Details</title>
    </head>
    <body style="margin: 50px; border: 2px solid;" >
        <div style="margin-left: 25px;">
        <h1>Professional Details</h1>
        <p><b>Professional ID : {{professional.Professional_ID}}</b></p>
        <p>Full Name : {{professional.First_Name}} {{professional.Last_Name}}</p>
        <p>E-Mail : {{professional.Email}}</p>
        <p>Joining Date : {{professional.Join_Date}}</p>
        <p>Service Type : {{professional.Service_Type}}</p>
        <p>Experience : {{professional.Experience}}</p>
        <p>Pincode : {{professional.Pincode}}</p>
        <p>Reviews : {{professional.Reviews}}</p>
        <p>Ratings : {{professional.Ratings}}</p>
        <p>Status : {{professional.Status}}</p>
        <p><a href="/admin_portal">Go back</a></p>
        </div>
    </body>
</html>        