<!DOCTYPE html> 
    <head>
        <title>Professional Search Results</title>
        <style>
            th, td {
                text-align: center;
                border: 1px solid;
                padding: 7px;
            }
            table {
                border: 1px solid;
            }
            div {
                border: 2px solid; 
                padding: 0px 15px 15px 15px; 
                margin-right: 30px; 
                margin-bottom: 30px;
            }
        </style>
    </head>
    <body style="margin: 50px;">
        <h1>Professional's Dashboard</h1>
        <p style="font-size:110%"><a style="margin-right: 20px;" href="/professional/{{professional.Professional_ID}}">Home</a> <a style="margin-right: 20px;" href="/professional_search/{{professional.Professional_ID}}">Search</a> <a style="margin-right: 20px;" href="/professional_summary/{{professional.Professional_ID}}">Summary</a> <a style="margin-right: 550px;" href="/login">Logout</a> Welcome {{professional.First_Name}} {{professional.Last_Name}}, <a href = "/update_professional_profile/{{professional.Professional_ID}}"><button>Edit Profile</button></a></p>
        {% if professional.Status == "Registered" %}
            <p><b>Your application is yet to be approved by the Admin</b></p>
        {% elif professional.Status == "Blocked" %}
            <p><b>Your ID has been blocked by the Admin</b></p>
        {% else %}
            <div id="closed_services">
                <h2>Request History</h2>
                {% if searched_request|length == 0 %}
                    <h4> No results found for this search.</h4>
                {% else %}    
                    <table>
                        <tr>
                            <th>Request ID</th>
                            <th>Customer Name</th>
                            <th>Phone No.</th>
                            <th>Address</th>
                            <th>Pincode</th>
                            <th>Request Time</th>
                            <th>Rating</th>
                            <th>Remark</th>
                            <th>Status</th>
                        </tr>
                        {% for request in searched_request %}
                        <tr>
                            <td>{{request["ID"]}}</td>
                            <td>{{request["Customer Name"]}}</td>
                            <td>{{request["Phone No."]}}</td>
                            <td>{{request["Address"]}}</td>
                            <td>{{request["Pincode"]}}</td>
                            <td>{{request["Request Date"]}}</td>
                            <td>{{request["Rating"]}} Stars</td>   
                            <td>{{request["Remark"]}}</td>  
                            {% if request["Status"] == "User Closed" %}
                                <td><a href="/{{professional.Professional_ID}}/professional_close_request/{{request['ID']}}"><button>Close</button></a></td>
                            {% else %}  
                                <td>Closed</td>
                            {% endif %}  
                        </tr>
                        {% endfor %}
                    </table>    
                {% endif %}       
            </div>
        {% endif %}
    </body> 
</html>    