<!DOCTYPE html>
    <head>
        <title>Edit Service Page</title>
    </head>
    <body style="margin-left: 50px;">
        <h1>Editing an exixting Service</h1>
        <fieldset style="margin-right: 850px;">
            <legend>Edit Service Details</legend>
            <form method="POST" action="/edit_service/{{service.Service_ID}}" >
                <p>Service Type : <input type="text" name="type" value="{{service.Type}}" required="required"/></p>
                <p>Service Description : <input type="text" name="description" value="{{service.Description}}" required="required"/></p>
                <p>Base Price : <input type="number" step="0.01" name="base_price" value="{{service.Base_Price}}" required="required"/></p>
                <p>Time Required : <input type="number" name="time" value="{{service.Time_required}}" required="required"/> (in min)</p>
                <input type="submit" value="Edit Service" />
            </form>
        </fieldset>    
    </body>
</html>  